
@import "../base/base";

footer {
    padding-bottom: 4rem;
    .items {
        display: flex;
        border-top:solid $white .1rem;
        border-bottom:solid $white .1rem;
  

        @media only screen and (max-width: $tablet-h) {
          flex-direction: column-reverse;            
           }

        .item {
            flex: 1;
            display: flex;
            padding: 4rem;
            flex-direction: column;

            @media only screen and (max-width: $tablet-h) {
                padding: 2rem;
       
                 }

            &:first-child {
                @media only screen and (max-width: $tablet-h) {
                    justify-content: flex-start;
                    align-items: flex-start;         
                     }
            }

            &:last-child {
                justify-content: flex-start;
                align-items: flex-start;  
            }

            &:nth-child(2) {
                border-left:solid $white .1rem;
                border-right:solid $white .1rem;
                justify-content: space-between;
            }

            .logo {
                max-width: 18rem;

                @media only screen and (max-width: $tablet-h) {
                    max-width: 10rem;
                     }
            }

            .social {
                margin: 2rem 0 4rem;
                display: flex;

                i {
                    width: 5rem;
                    height: 5rem;
                    background: $white;
                    border-radius: 100%;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1rem;

                    svg {
                        fill:$black;
                    }
                }
            }

            .contact {
                margin: 2rem 0 4rem;
                @media only screen and (max-width: $tablet-h) {
                    margin: 2rem 0 6rem;    
                }
                span {
                    font-size: 1.6rem;
                    font-family: $font-mono;
                    color: $dark;
                    letter-spacing: 0.39043px;

                    a {
                        color: $dark;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .newsletter {
                display: flex;
                margin-bottom: 10rem;
                
                form {
                    margin: 0;

                    .form-item {
                        margin-bottom: 1rem;
                    }
                }
            }

            nav {
          
                ul {
                    display: flex;
                    flex-direction: column;
         
   
                    li {
                        margin-bottom: 2rem;
                        a {
                            font-size: clamp(3rem, 12vw, 3.8rem);
                            line-height: 1.2;
                            color: $white;
                            font-weight: $font-medium;

                            @media only screen and (max-width: $tablet-h) {
                                font-size: clamp(1.8rem, 12vw, 2.2rem);       
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }  
        }
    }

    small {
        font-size: 1.6rem;
        color: $white;
        margin-bottom: 2rem;
        font-weight: $font-medium;
    }

    span {
        font-size: 1.6rem;
        color: $white;
        font-weight: $font-medium;
    }

    .links {
        display: flex;
        margin-top: 4rem;

        @media only screen and (max-width: $tablet-h) {
            margin-top: 4rem;      
        }

        li {
            margin-right: 2rem;
            a {
                font-size: clamp(1.2rem, 12vw, 1.6rem);
                line-height: 1.2;
                color: $white;
                font-weight: $font-medium;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .address {
        margin-top: 4rem;
        font-size: 2.6rem;
        color: $white;
        font-weight: $font-bold;
        display: flex;
        flex-direction: column;

        a {
            color: $white;
        }
    }

    a {
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }

    .copyright {
        margin-top: 2rem;
    }

    p {
        font-size: 2.6rem;
        color: $white;
        font-weight: $font-bold;
    }

    .form-item {
        flex-direction: row !important;
        border: solid $white .1rem;

        input {
            border: none;
        }

        button {
            padding: 0 2rem;
            background: none;
        }
    }
}