@import "../base/_base";


header {
  position: fixed;
  width: 100%;
  top: 1rem;
  left: 0;
  z-index: 1;
  @include fade-transition;
  padding: 0 2rem;

  @media only screen and (max-width: $tablet-v) {
    padding: 0;
    top: .5rem;
  }

  &.dark {
    nav {
      border-bottom: solid rgba($dark, .3) .1rem;

      .menu-button {
        #hamburger-menu {
          span {
            background: $dark;

          }
        }
      }
    }

    ul {

      li {
        a {
          color: $dark;
        }
      }
    }

    .right {
      i {
        svg {
          fill: $dark;
        }
      }
    }

    .logo {
      background: url(../../assets/images/main/logo-dark.svg) no-repeat;
    }
  }

  svg {
    @include fade-transition;
  }

  nav {
    width: 100%;
    border-bottom: solid rgba($white, .3) .1rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    @include fade-transition;

    @media only screen and (max-width: $tablet-v) {
      height: 8rem;
    }
  }

  ul {
    display: flex;
    width: 30rem;

    @media only screen and (max-width: $tablet-v) {
      display: none;  
    }

    li {
      a {
        font-size: clamp(1.4rem, 12vw, 1.6rem);
        font-weight: $font-bold;
        color: $white;
        margin-right: 3rem;
        text-transform: uppercase;
        letter-spacing: 3.27273px;
      }
    }
  }

  .logo {
    width: 18rem;
    height: 7rem;
    background: url(../../assets/images/main/logo-light.svg) no-repeat center;
    background-size: 18rem;

    @media only screen and (max-width: $tablet-v) {
      background-size: 13rem;
    }
  }

  &.scrolled {
    @include fade-transition;

    nav {
      background: $white;
      border: none;
      @include fade-transition;
      box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
      border-radius: 1rem;
    }

    ul {  
      li {
        a {
          color: $dark;
        }
      }
    }

    .logo {
      background: url(../../assets/images/main/logo-dark.svg) no-repeat;
    }

    .right {
      svg {
        fill: $dark;
      }
    }

    nav {
      .menu-button {
    
        #hamburger-menu {
          span {
            background: $dark;

          }
        }
      }
    }
  }

  .right {
    width: 30rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    i {
      cursor: pointer;
      margin: 0 1.8rem;

      &:last-child {
        margin: 0 0 0 1.8rem;

        @media only screen and (max-width: $tablet-v) {
          margin: 0 0 0 .5rem;
        }
      }

      @media only screen and (max-width: $tablet-v) {
        margin: 0 .8rem;
      }

      .mobile-menu {
        height: 3rem;
        display: flex;
        align-items: center;
      }

      svg {
        fill: $white;

        @media only screen and (max-width: $tablet-v) {
          width: 2.2rem;
          height: 2.2rem;
        }
      }

      &.filter-button {
        svg {
          fill: transparent;
          stroke: $white;
        }
      }
    }
  }

  .menu-button {
    height: 4rem;
    display: flex;
    align-items: center;
    position: relative;

    #hamburger-menu {
      width: 3.4rem;
      height: 1.4rem;
      position: relative;

      span {
        opacity: 1;
        left: 0;
        display: block;
        width: 100%;
        height: .2rem;
        border-radius: 10px;
        background: $white;
        position: absolute;
        transform: rotate(0deg);
        transition: .4s ease-in-out;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 1rem;
        }
      }

      &.open span {
        &:nth-child(1) {
          transform: translateY(5px) rotate(135deg);
        }

        &:nth-child(2) {
          transform: translateY(-5px) rotate(-135deg);
        }
      }
    }
  }

  .menu-close {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    display: none;

    &.visible {
      z-index: 99999;
      display: flex;
    }
  }
}


.menu-tab .tabs section.active {
  display: block;
}

.hamburger-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;

  .menu-top {
    width: 100%;
    height: 11rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4rem;

    @media only screen and (max-width: $tablet-h) {
      padding: 0 1rem;
      height: 8rem;
    }
  }

  .menu-bottom {
    width: 100%;
    height: 11rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;

    @media only screen and (max-width: $tablet-h) {
      padding: 0 2rem;
      height: 8rem;
    }

    span {
      font-size:1.4rem;
      opacity: 0;
    }
  }

  .menu-title {
    font-size: 6rem;
    color: $dark;
    font-weight: $font-medium;
    margin-bottom: 5rem;
    overflow: hidden;
    margin-left: 5vw;
    opacity: 0;
  }

  .hamburger-menu-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #D5E8EC;
    z-index: 100;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .menu-close {
      cursor: pointer;
      font-weight: $font-medium;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-right: .5rem;
      }

    }
  }

  .menu-items {
    width: 100%;
    height: 100%;
    display: flex;

    @media only screen and (max-width: $tablet-h) {
      display: none;
    }

    .menu-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 6rem;
      overflow: hidden;
      cursor: pointer;
      font-weight: lighter;

      .menu-item-name {
        width: 30rem;
        color: $dark;
        font-size: 4rem;
        font-weight: $font-medium;
        outline: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.active {
          color: #7E9FB2;
          @include fade-transition;
        }
      }
    }
  }

  .menu-items-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
    margin-left: 10%;
    margin-right: 20%;
  }

  .menu-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .menu-tab {
    width: 100% !important;
  
    @media only screen and (max-width: $tablet-h) {
      display: none;
    }
  
    a {
  
      &:hover,
      &:active {
        border-bottom: none;
        outline: 0;
      }
  
      &:focus {
        border-bottom: none;
        outline: thin dotted;
      }
  
      img {
        border: 0;
      }
  
      svg {
        fill: transparent;
        stroke: $dark;
        margin-left: 2.4em;
        margin-top: .4rem;
        @include fade-transition;
      }
  
      path {
        fill: $dark;
      }
    }
  
    .entry-content>*:not(:last-child) {
      margin-bottom: 1rem;
    }
  
    .tabs-container {
      padding: 2rem;
    }
  
    .tab-head {
      width: -webkit-fill-available;

      @media only screen and (max-width: $desktop) {
        width: auto;
        margin-right: 4rem;
      }

      .small-head {
        margin-bottom: 6rem;
        height: 0;
      }
    }
  
    .tabs {
      display: flex;
      width: 100%;
      padding-top: 10rem;
      padding-bottom: 10rem;
      padding-left: 10vw;
      padding-right: 10vw;

      @media only screen and (max-width: $desktop) {
        padding: 4vw;
      }
  
      >ul {
        list-style-type: none;
        flex-shrink: 0;
  
        li {
          display: flex;
  
          a {
            width: 100%;
            display: flex;
            transition: all 0.2s ease-in-out;
            justify-content: flex-start;
            margin: 1rem 0;
            color: $dark;
  
            span {
              font-size: clamp(3rem, 12vw, 3.6rem);
              color: $dark;
              line-height: 1;
              @include fade-transition;
            }
  
            svg {
              stroke: $black;
              stroke-width: 1;
            }
  
            path {
              stroke: $black;
            }
  
            &:hover,
            &:focus,
            &:active {
              border-bottom: none;
              outline: 0;
  
              span {
                text-decoration: underline;
                color: $white !important;
              }
  
              svg {
                fill: $black;
                stroke: $black;
              }
  
              path {
                stroke: $white;
              }
  
            }
  
            &.active {
  
              svg {
                fill: $black;
                stroke: $black;
              }
  
              path {
                stroke: $white;
              }
            }
  
            &:hover:not(.active) {
              color: $dark;
            }
  
            >span {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
  
              &.tab-label {
                display: none;
              }
            }
          }
        }
      }
  
      .tab-content {
        width: -webkit-fill-available;

        ul {
          display: flex;
          flex-direction: column;
          padding-left: 4rem;

          li {
            font-family: $font-mono;
  
            a {
              font-size: 1.6rem;
              color: $dark;
              line-height: 3rem;
              margin-bottom: 1.4rem;
              display: flex;
              width: fit-content;
              @include fade-transition;
              font-family: $font-mono;
              font-weight: 600;
  
              &:hover {
                @include fade-transition;
                text-decoration: underline;
              }
            }
          }
        }
      }
  
      section {
        width: 85%;
        padding: 8rem 1rem 0;
        display: none;
        word-wrap: break-word;

        figure {
          max-width: 20rem;
          height: 20rem;
          margin: 0;

          @media only screen and (max-width: $desktop) {
            max-width: 18rem;
            height: 18rem;
          }

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            border-radius: 1rem;
          }
        }
  
        >* {
          opacity: 0;
          transform: translateY(20px);
          transition: opacity 0.2s, transform 0.2s;
        }
  
        &.active {
          display: flex;
        }
  
        &.active-content>* {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  
    .tabs {
      >ul {
  
        li a {
          flex-wrap: wrap;
          width: 100%;
          display: flex;
          align-items: center;
  
          >span {
  
            &.tab-label {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
  
  .social-contact {
    padding: 10rem;
    opacity: 0;
    transform: translateY(20%);

    @media only screen and (max-width: $desktop) {
      padding: 4vw;
    }

    @media only screen and (max-width: $tablet-h) {
      display: none;
    }
  
    .social {
      margin: 6rem 0 6rem;
      display: flex;
  
      i {
        width: 5rem;
        height: 5rem;
        background: #474747;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
  
        svg {
          fill: #A5C9D0;
        }
      }
    }

    .menu {
      display: flex;
    }

    ul {
      margin: 6rem 0 10rem;
      
      &:last-child {
        margin-left: 4rem;
      }
      
      li {
        a {
          font-family: $font-mono;
          font-size: 1.6rem;
          display: flex;
          align-items: center;
          height: 3.6rem;
          color: $dark;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  
    .info {
      margin-top: 4rem;
      span {
        font-family: $font-mono;
        font-size: 2rem;
        a {
          color: $dark;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

}

.accordion-menu-item {
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  visibility: hidden;
  transform: translateY(20%);
  display: none;

  @media only screen and (max-width: $tablet-h) {
    display: flex;
    opacity: 0;
    visibility: hidden;
  }

  .accordion-menu {
    width: 100%;
    position: relative;

    li {
      overflow: hidden;
      padding: 1.4rem 0;
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-direction: column;
      padding-left: 2rem;
      border: none;

      &:last-child {
        border: none;
      }

      a {
        font-size: 1.8rem;
        color: $dark;
        font-weight: $font-medium;
      }

      &.open {

        .dropdownlink {
          color: rgba($dark, .50);
          
          i {
            svg {
              transform: rotate(90deg);
              @include fade-transition;
            }
          }
        }
      }
    }

    .dropdownlink {
      cursor: pointer;
      display: flex;
      font-size: 1.8rem;
      color: $dark;
      font-weight: $font-medium;
      position: relative;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: 0;
      min-height: auto;
      width: 100%;
      justify-content: space-between;

      i {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        right: 2rem;
        font-size: 1.8rem;

        svg {
          width: 2.6rem;
          height: 2.6rem;
          @include fade-transition;
        }

        .icon-open {
          display: flex;
        }

        .icon-close {
          display: none;
        }
      }
    }

    .ion-ios-arrow-down {
      right: 2rem;
      left: auto;
    }
  }

  .submenuItems {
    display: none;
    padding-bottom: 0;

    li {
      padding: 1rem 2rem 0 2rem;
      position: relative;
      border: none;
      margin: 0;

      ul {
        margin-bottom: 0;
        li{
          padding: 0;

          a{
            font-size: 1.8rem;
            height: 3.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

.search-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($black, .40);
  }

  .search-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    background-color: #D5E8EC;
    z-index: 100;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media only screen and (max-width: $tablet-h) {
      height: 30vh;
    }

    .menu-top {
      width: 100%;
      height: 11rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 4rem;

      @media only screen and (max-width: $tablet-h) {
        padding: 0 1rem;
        height: 8rem;
      }
    }

    .search-close {
      cursor: pointer;
      font-weight: $font-medium;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-right: .5rem;
      }
    }
  }
}

.line {
  height: .1rem;
  transform-origin: left;
  overflow: hidden;
  background: $dark;
}

.searchline {
  height: .1rem;
  transform-origin: left;
  overflow: hidden;
  background: $dark;
}

.line-v {
  width: .1rem;
  height: 100%;
  overflow: hidden;
  background: $dark;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}


.filter-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($black, .40);
  }

  .filter-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $white;
    z-index: 100;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .filter-top {
      width: 100%;
      height: 11rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 4rem;

      @media only screen and (max-width: $tablet-h) {
        padding: 0 1rem;
        height: 8rem;
      }
    }

    .filter-close {
      cursor: pointer;
      font-weight: $font-medium;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-right: .5rem;
      }
    }
  }

  .filter-options {
    display: flex;
    flex-direction: column;
    transform: translateY(80%);
    opacity: 0;

    input {

      &::-webkit-input-placeholder {
        letter-spacing: 1px;
        color: $dark;
      }

      &:-ms-input-placeholder {
        letter-spacing: 1px;
          color: $dark;
      }

      &::placeholder {
        letter-spacing: 1px;
          color: $dark;
      }
    }
  }
}

.filterline {
  height: .1rem;
  transform-origin: left;
  overflow: hidden;
  background: $dark;
}