@import "../base/_base";


header {
  position: fixed;
  width: 100%;
  height: 14rem;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include fade-transition;

  @media only screen and (max-width: $tablet-h) {
    padding: 0 2rem;
  }

  @media only screen and (max-width: $tablet-h) {
    height: 6rem;
    background-size: 13rem;
  }

  .logo {
    width: 18rem;
    height: 7rem;
    display: flex;
    background: url(../../assets/images/main/logo.svg) no-repeat center;
    background-size: 18rem;
    @include fade-transition;

    @media only screen and (max-width: $tablet-h) {
      width: 14rem !important;
      background-size: 13rem;
    }
  }

  svg {
    @include fade-transition;
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
  
      @media only screen and (max-width: $tablet-h) {
        display: none;  
      }
  
      li {
        a {
          font-size: clamp(1.8rem, 12vw, 2rem);
          font-weight: $font-medium;
          color: $white;
          margin-right: 5rem;

          @media only screen and (max-width: $desktop-sm) {
            font-size: clamp(1.6rem, 12vw, 1.8rem);
            margin-right: 3rem;
        }
        }
      }
    }
  
    .search-button {
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 100%;
      border:solid $white .2rem;

      @media only screen and (max-width: $tablet-h) {
        display: none;
      }
    }

    .menu-open {
      display: none;
      cursor: pointer;

      @media only screen and (max-width: $tablet-h) {
        display: block;  
      }
    }
  }

  &.scrolled {
    height: 10rem;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(19.7px);
    -webkit-backdrop-filter: blur(19.7px);

    &.bghide {
        background: none;
    }

    @media only screen and (max-width: $tablet-v) {
        height: 6rem;
    }

    .logo {
      width: 14rem;
      height: 7rem;
      display: flex;
      background: url(../../assets/images/main/logo.svg) no-repeat center;
      background-size: 14rem;

      @media only screen and (max-width: $tablet-h) {
        width: 14rem;
        background-size: 13rem;
      }
    }
}

&.scrollUp {
    top: -12rem;

    .logo {
      width: 14rem;
      height: 7rem;
      display: flex;
      background: url(../../assets/images/main/logo.svg) no-repeat center;
      background-size: 14rem;

      @media only screen and (max-width: $tablet-h) {
        width: 14rem;
        background-size: 13rem;
      }
    }
}

}


.menu-tab .tabs section.active {
  display: block;
}


.search-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($black, .40);
  }

  .search-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    background-color: #D5E8EC;
    z-index: 100;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media only screen and (max-width: $tablet-h) {
      height: 30vh;
    }

    .menu-top {
      width: 100%;
      height: 11rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 4rem;

      @media only screen and (max-width: $tablet-h) {
        padding: 0 1rem;
        height: 8rem;
      }
    }

    .search-close {
      cursor: pointer;
      font-weight: $font-medium;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-right: .5rem;
      }
    }
  }
}

.side-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  z-index: 100;
  visibility: hidden;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   background: rgba($black, .40);
  // }

  .menu-title {
    font-size: 6rem;
    color: $white;
    font-weight: $font-medium;
    margin-bottom: 5rem;
    overflow: hidden;
    margin-left: 5vw;
    opacity: 0;
  }

  .menu-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $black;
    transform: translateX(500%);
  
    .menu-close {
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 2rem;
      font-size: 1.8rem;
      font-weight: $font-medium;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .menu-items {
    width: 100%;
    padding: 10rem 2rem 0;

    .menu-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 5rem;
      overflow: hidden;
      cursor: pointer;
      font-weight: lighter;

      .menu-item-name {
        color: $white;
        font-size: 2.8rem;
        font-weight: $font-bold;
      }
    }
  }

  .menu-items-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  span {
    overflow: hidden;
  }

  .search-content {
    width: 100%;
    margin-bottom: 8rem;
    opacity: 0;

    .search-box {
      padding: 0;
    }
  }
  
}
