
$font-maison: 'Maison Neue', sans-serif;
$font-mono: 'Maison Neue Mono';
$font-bold-italic: italic;
$font-normal: normal;
$font-medium: 500;
$font-bold: bold;


@font-face {
    font-family: 'Maison Neue';
    src: url('/assets/scss/fonts/MaisonNeue-BoldItalic.eot');
    src: url('/assets/scss/fonts/MaisonNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/scss/fonts/MaisonNeue-BoldItalic.woff2') format('woff2'),
        url('/assets/scss/fonts/MaisonNeue-BoldItalic.woff') format('woff'),
        url('/assets/scss/fonts/MaisonNeue-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue Mono';
    src: url('/assets/scss/fonts/MaisonNeueMono-Regular.eot');
    src: url('/assets/scss/fonts/MaisonNeueMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/scss/fonts/MaisonNeueMono-Regular.woff2') format('woff2'),
        url('/assets/scss/fonts/MaisonNeueMono-Regular.woff') format('woff'),
        url('/assets/scss/fonts/MaisonNeueMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('/assets/scss/fonts/MaisonNeue-Medium.eot');
    src: url('/assets/scss/fonts/MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/scss/fonts/MaisonNeue-Medium.woff2') format('woff2'),
        url('/assets/scss/fonts/MaisonNeue-Medium.woff') format('woff'),
        url('/assets/scss/fonts/MaisonNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('/assets/scss/fonts/MaisonNeue-Book.eot');
    src: url('/assets/scss/fonts/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'),
        url('/assets/scss/fonts/MaisonNeue-Book.woff2') format('woff2'),
        url('/assets/scss/fonts/MaisonNeue-Book.woff') format('woff'),
        url('/assets/scss/fonts/MaisonNeue-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


