
@import "fonts";
@import "base/base";
@import "nav/_header";
@import "nav/_footer";
@import "common/_buttons";
@import "common/_common";
@import "common/_grid";
@import "common/_typography";
@import "common/_components";

body,
html {
    font-family: $font-maison;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    list-style: none;
    box-shadow: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

body {
    overflow-x: hidden;
    overflow-y: auto;

    &.no-scroll {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    &::-webkit-scrollbar {
        width: 0;
    }
    
    &::-webkit-scrollbar-track {
        background-color: #000000;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #555555;
    }
    
    &::-webkit-scrollbar-button {
        background-color: #000000;
        background-image: url();
    }
    
    &::-webkit-scrollbar-button:vertical:increment {
        background-position: -64px -16px;
    }
    
    &::-webkit-scrollbar-button:vertical:decrement {
        background-position: 0 -16px;
    }
    
    &::-webkit-scrollbar-button:horizontal:increment {
        background-position: -32px -16px;
    }
    
    &::-webkit-scrollbar-button:horizontal:decrement {
        background-position: -96px -16px;
    }
    
    &::-webkit-scrollbar-corner {
        background-color: #000000;
    }
}

#smoother-content {
    will-change: transform;
}


.site-list {
    width: 100%;
    min-height: 100vh;
    background: #D5E8EC;
    display: flex;
    justify-content: center;
    padding-top: 6rem;

    .links {

        ol {
            margin-top: 6rem;
       
            li {
                margin: 2rem 0;
                list-style-type: decimal;
                font-size: 2rem;
                color: $dark;
                padding-left: 1rem;
                font-family: $font-mono;

                a {
                    font-size: 2rem;
                    color: $dark;
                    display: flex;
                    text-transform: capitalize;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}