
@import "../base/base";

.button, button {
    width: fit-content;
    height: 5.6rem;
    padding: 0 4rem;
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    @include fade-transition;

    &:hover {
        @include fade-transition;

        &.border {
            &.light {
                background: $white;
                color: $dark;
            }

            &.dark {
                background: $dark;
                color: $white;
            }
        }

        &.normal {
            border: solid $dark .1rem;
            &.dark {
                background: $white;
                color: $dark;
    
                svg {
                    fill: $dark;
                @include fade-transition;

                }
            }
        }
    }

    &.border {
        &.light {
            border:solid $white .1rem;
            color: $white;
        }

        &.dark {
            border:solid $dark .1rem;
            color: $dark;
        }
    }

    &.normal {
        border: solid transparent .1rem;
        &.dark {
            background: $dark;
            color: $white;

            svg {
                fill: $white;
                margin-right: 1rem;
                @include fade-transition;
            }
        }
    }
}

button {
    background: #C9FF99;
    width: -webkit-fill-available;

    &:hover {
        background: $white;
    }
}