@import "../base/base";
@import "_components";
@import "_slider";


.split-line,
.split-parent,
.textanimated {
    overflow: hidden;
}

figure {
    position: relative;
    width: 100%;
    height: 100%;

    &.image-cover {
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;

            @media only screen and (max-width: $tablet-h) {
                position: relative;
                height: 100%;
            }
        }
    }

    &.image-parallax {
        img {
            position: absolute;
            width: 100%;
            height: 140%;
            top: 0;
            left: 0;
            object-fit: cover;

            @media only screen and (max-width: $tablet-h) {
                position: relative;
                height: 100%;
            }
        }
    }
}

.video {
    position: relative;
    width: 100%;
    height: 100%;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($black, .40);
        z-index: 1;
    }

    video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.start {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}