@import "../base/base";
@import "_components";
@import "_slider";


.split-line,
.split-parent,
.textanimated {
    overflow: hidden;
}

figure {
    position: relative;
    width: 100%;
    height: 100%;

    &.image-cover {
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;

            @media only screen and (max-width: $tablet-h) {
                position: relative;
                height: 100%;
            }
        }
    }

    &.image-parallax {
        img {
            position: absolute;
            width: 100%;
            height: 140%;
            top: 0;
            left: 0;
            object-fit: cover;

            @media only screen and (max-width: $tablet-h) {
                position: relative;
                height: 100%;
            }
        }
    }
}

.video {
    position: relative;
    width: 100%;
    height: 100%;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($black, .40);
        z-index: 1;
    }

    video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}



.no-margin {
    margin: 0 !important;
}

.content-info {
    width: 100%;
    background-size: 50%;
    display: flex;
    flex-direction: column;
    border-bottom: solid $dark .1rem;
    margin-bottom: 4rem;
    z-index: 2;
    position: relative;

    .small-head {
        @media only screen and (max-width: $tablet-v) {
            text-align: center;
        }
    }

    &.bg-01 {
        background: url(/assets/images/home/company-info-bg.png) left no-repeat;
    }

    &.bg-02 {
        background: url(/assets/images/home/company-info-bg.png) right no-repeat;
    }

    i {
        img {
            width: 4rem;

            @media only screen and (max-width: $desktop) {
                width: 3rem;
            }

            @media only screen and (max-width: $tablet-v) {
                width: 2rem;
            }
        }
    }

    .numbers {
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        width: 100%;
        margin: 10rem auto 0;

        @media only screen and (max-width: $tablet-h) {
            flex-direction: column;
            margin: 2rem auto;
            max-width: 100%;
            padding: 2rem;
        }
    }

    .items {
        max-width: 90rem;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: $tablet-h) {
            max-width: 100%;
            padding-top: 4rem;
        }

        >div {
            display: flex;
            justify-content: flex-end;
            justify-content: space-between;

            @media only screen and (max-width: $desktop) {
                justify-content: space-around;
            }

            @media only screen and (max-width: $tablet-v) {
                flex-direction: column;
            }

            &:last-child {
                .item {
                    &:last-child {
                        @media only screen and (max-width: $tablet-v) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .item {
            width: 30rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
            margin-bottom: 6rem;



            @media only screen and (max-width: $tablet-v) {
                width: 100%;
                margin-bottom: 4rem;
            }

            >div {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            span {
                font-size: clamp(7rem, 12vw, 9rem);
                letter-spacing: 10px;
                line-height: .6;
                margin-bottom: 4rem;

                @media only screen and (max-width: $desktop) {
                    font-size: clamp(5rem, 12vw, 6rem);
                }

                @media only screen and (max-width: $desktop-sm) {
                    font-size: clamp(3rem, 12vw, 4.2rem);
                }

                @media only screen and (max-width: $tablet-v) {
                    margin-bottom: 1rem;
                }
            }

            small {
                // font-size: clamp(2.8rem, 12vw, 4.6rem);
                font-size: clamp(1.8rem, 12vw, 2rem);
                margin: 1rem 0;
            }

            p {
                font-size: clamp(1.4rem, 12vw, 1.6rem);
                font-family: $font-mono;
                letter-spacing: 0.39043px;
                font-weight: 600;
            }
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        width: 100%;
        margin: 6rem auto 6rem auto;

        @media only screen and (max-width: $desktop) {
            margin: 2rem auto;
        }

        @media only screen and (max-width: $tablet-h) {
            max-width: 100%;
            padding: 0 2rem;
        }

        p {
            font-size: clamp(5rem, 12vw, 6.6rem);
            letter-spacing: 0.607407px;
            margin-bottom: 4rem;

            @media only screen and (max-width: $desktop) {
                font-size: clamp(4.6rem, 12vw, 4.8rem);
            }

            @media only screen and (max-width: $desktop-sm) {
                font-size: clamp(2rem, 12vw, 2.8rem);
            }

            sup {
                margin-right: 2rem;
            }
        }
    }
}

.content-headline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: $tablet-h) {
        padding: 2rem 1rem;
    }

    &.border {
        border-bottom: solid $black .1rem;
    }

    .back {
        font-size: 1.2rem;
        font-weight: $font-bold;
        text-transform: uppercase;
        color: $dark;
        letter-spacing: 2.18182px;
        margin-bottom: 4rem;
        display: flex;

        svg {
            margin-right: 1rem;
        }
    }

    span {
        max-width: 70rem;
        font-family: $font-mono;
        font-size: clamp(1.6rem, 12vw, 2rem);
        text-align: center;
        margin-top: 2rem;

        @media only screen and (max-width: $tablet-h) {
            font-size: clamp(1.4rem, 12vw, 1.6rem);
        }
    }
}

.card-items {
    display: flex;
    flex-direction: column;

    &.card-light {
        padding: 1rem;
    }

    &.card-detail {
        padding: 3rem;

        @media only screen and (max-width: $tablet-h) {
            padding: 1rem;
        }
    }

    &.light {
        padding: 1rem;

        .items {
            justify-content: flex-end;

            @media only screen and (max-width: $tablet-v) {
                flex-direction: column;
            }

            .item {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    max-width: 50rem;
                }
            }
        }

        .card-caption {
            border: none !important;

            @media only screen and (max-width: $tablet-v) {
                padding: 1rem;
            }
        }
    }

    .items {
        height: 100%;
        width: 100%;
        min-height: 70vh;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        display: flex;
        margin-bottom: 1rem;

        @media only screen and (max-width: $tablet-v) {
            flex-direction: column-reverse;
            min-height: auto;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            @media only screen and (max-width: $tablet-v) {
                flex-direction: column-reverse;
            }

            .item {
                .card-caption {
                    border-right: none;
                    margin-left: 4rem;

                    @media only screen and (max-width: $tablet-v) {
                        margin-left: 0;
                    }
                }
            }
        }

        &.light {
            .card-caption {
                border: none;

                @media only screen and (max-width: $tablet-v) {
                    padding: 2rem 0;
                }
            }

            img {
                border-radius: 1rem;
            }

            .item {

                @media only screen and (max-width: $tablet-h) {
                    width: 100% !important;
                }
            }
        }

        .card-caption {

            p {
                font-weight: 600;
                line-height: 1.6;
            }
        }

        &.color-01 {
            background: #E8D7CD;
        }

        &.color-02 {
            background: #ECE0CD;
        }

        &.color-03 {
            background: #192630;

            span,
            p,
            h4 {
                color: $white;
            }
        }

        &.color-04 {
            background: #223019;

            span,
            p,
            h4 {
                color: $white;
            }
        }

        &.color-05 {
            background: #191A30;

            span,
            p,
            h4 {
                color: $white;
            }

        }

        &.reverse {
            @media only screen and (max-width: $tablet-v) {
                flex-direction: column-reverse;
            }
            .item {
                &:first-child {
                    width: 60%;
                }

                &:last-child {
                    width: 40%;
                }
            }

        }

        .item {
            &:first-child {
                width: 40%;

                @media only screen and (max-width: $desktop-sm) {
                    width: 50%;
                }

                @media only screen and (max-width: $tablet-v) {
                    width: 100%;
                }
            }

            &:last-child {
                width: 60%;

                @media only screen and (max-width: $desktop-sm) {
                    width: 50%;
                }

                @media only screen and (max-width: $tablet-v) {
                    width: 100%;
                }
            }
        }

        span {
            display: block;

            i {
                margin: 0;
                display: contents;

                img {
                    max-width: 4rem;
                    margin: 0;

                    @media only screen and (max-width: $tablet-v) {
                        margin-left: 0;
                    }
                }
            }
        }

        i {
            @media only screen and (max-width: $tablet-v) {
                margin-bottom: 2rem;
            }

            img {
                width: 4rem;

                @media only screen and (max-width: $desktop) {
                    width: 3rem;
                }

                @media only screen and (max-width: $tablet-v) {
                    width: 2rem;
                }
            }
        }

    }

    .item {
        position: relative;
    }

    .card-line {
        width: .1rem;
        position: absolute;
        top: 0;
        right: 4rem;
        background: $black;

        @media only screen and (max-width: $tablet-v) {
            display: none;
        }
    }

    figure {
        overflow: hidden;
    }
}

.card-items-image {
    .items {
        gap: 0 1rem;

        .item {
            border-radius: 1rem;
            overflow: hidden;
            position: relative;
            height: 70vh;

            @media only screen and (max-width: $desktop) {
                height: 50vh;
            }

            @media only screen and (max-width: $tablet-h) {
                margin-bottom: 1rem;
            }

            figcaption {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                padding: 4rem;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                @media only screen and (max-width: $tablet-v) {
                    padding: 2rem;
                }

                h4 {
                    color: $white;
                }

                span {
                    max-width: 60%;
                    font-size: clamp(3rem, 12vw, 4.8rem);
                    color: $white;
                    line-height: 1;
                    margin-bottom: 4rem;
                    display: block;

                    @media only screen and (max-width: $desktop) {
                        font-size: clamp(2.8rem, 12vw, 3.4rem);
                    }

                    @media only screen and (max-width: $desktop-sm) {
                        font-size: clamp(2.8rem, 12vw, 3rem);
                        max-width: 100%;
                    }

                    @media only screen and (max-width: $tablet-v) {
                        font-size: clamp(1.8rem, 12vw, 2rem);
                    }

                    i {
                        img {
                            width: 4rem;

                            @media only screen and (max-width: $desktop) {
                                width: 3rem;
                            }

                            @media only screen and (max-width: $tablet-v) {
                                width: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.map {
    .map-content {
        background: #EBF5D8;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10rem;
    }

    .image {
        max-width: 92rem;
        margin: auto;

        img {
            margin-bottom: 4rem;
        }
    }
}

.card-image {
    position: relative;
    padding: 1rem;
    overflow: hidden;

    .content {
        width: 100%;
        min-height: 80vh;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;

        @media only screen and (max-width: $tablet-v) {
            min-height: 50vh;
        }

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba($black, .30);
            z-index: 1;
        }
    }

    .image-parallax {
        img {
            position: absolute;
        }
    }

    .items {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        align-items: center;

        @media only screen and (max-width: $tablet-v) {
            justify-content: center;
            text-align: center;
            flex-direction: column;
        }

        .item {
            width: 50%;

            @media only screen and (max-width: $tablet-v) {
                width: 100%;
            }
        }
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-content {
            max-width: 44rem;
            display: flex;
            flex-wrap: wrap;
        }

        figure {
            width: calc(100% / 2);
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;

            i {
                width: 16rem;
                height: 16rem;
                padding: 5rem;
                border-radius: 100%;
                border: solid rgba($white, .20) .1rem;
                display: flex;
                flex-shrink: 0;
                justify-content: center;
                align-items: center;

                @media only screen and (max-width: $desktop-sm) {
                    width: 9rem;
                    height: 9rem;
                    padding: 0;
                }

                svg {
                    @media only screen and (max-width: $desktop-sm) {
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
        }
    }

    .caption {

        @media only screen and (max-width: $desktop) {
            padding: 0 2rem;
        }

        h4 {
            color: $white;
            margin-bottom: 10rem;

            @media only screen and (max-width: $desktop-sm) {
                margin-bottom: 5rem;
            }
        }

        span {
            max-width: 60%;
            font-size: clamp(3rem, 12vw, 4.8rem);
            color: $white;
            line-height: 1;
            margin-bottom: 4rem;
            display: block;

            @media only screen and (max-width: $desktop) {
                max-width: 100%;
                font-size: clamp(3rem, 12vw, 4rem);
            }

            @media only screen and (max-width: $desktop-sm) {
                font-size: clamp(2rem, 12vw, 3rem);
            }

            @media only screen and (max-width: $tablet-v) {
                font-size: clamp(1.8rem, 12vw, 2rem);
            }

            i {
                img {
                    width: 4rem;
                    height: auto;
                    position: relative;

                    @media only screen and (max-width: $desktop) {
                        width: 3rem;
                    }

                    @media only screen and (max-width: $tablet-v) {
                        width: 2rem;
                    }
                }
            }
        }
    }
}

.start-image {
    padding: 1rem;
    height: 70vh;

    figure {
        border-radius: 1rem;
        overflow: hidden;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba($black, .40);
            z-index: 1;
        }
    }
}

.list-items {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;

    @media only screen and (max-width: $tablet-h) {
        padding: 0;
    }

    .item {
        width: 20%;
        padding: 1rem;
        margin-bottom: 4rem;

        @media only screen and (max-width: $desktop-sm) {
            width: 25%;
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: $tablet-h) {
            width: 33.3%;
        }

        @media only screen and (max-width: $tablet-v) {
            width: 50%;
        }

        &:hover {
            img {
                transform: scale(1.2);
                @include fade-transition;
            }
        }

        figure {
            height: auto;
            margin-bottom: 2rem;
            overflow: hidden;
            position: relative;
            border-radius: 1rem;

            img {
                @include fade-transition;
            }
        }

        span {
            font-family: $font-mono;
            font-weight: 600;
            font-size: 2rem;
            letter-spacing: 0.216931px;
            color: $dark;

            @media only screen and (max-width: $tablet-h) {
                font-size: 1.6rem;
            }
        }

        .badge {
            position: absolute;
            top: 1rem;
            left: 1rem;
            padding: 0 2rem;
            font-family: $font-mono;
            font-size: 1.6rem;
            text-transform: uppercase;
            height: 4rem;
            display: flex;
            align-items: center;
            border-radius: 100vmax;
            color: $dark;
            font-weight: $font-bold;

            @media only screen and (max-width: $tablet-h) {
                height: 3rem;
                font-size: 1.2rem;
            }

            &.new {
                background: #7EFF93;
            }
        }
    }
}

.detail {
    width: 100%;
    min-height: 50vh;
    background: #F2EEEB;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 20rem 0 10rem;

    @media only screen and (max-width: $tablet-h) {
        padding: 10rem 1rem 2rem;
    }
    

    .content {
        max-width: 160rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $tablet-h) {
            flex-direction: column;
        }

        .image {
            width: 50%;

            @media only screen and (max-width: $tablet-h) {
                width: 100%;
                display: flex;
            }

            figure {
                height: auto;
                margin-bottom: 4rem;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding-left: 10rem;
            padding-right: 2rem;

            @media only screen and (max-width: $tablet-h) {
                padding: 0 1rem;
            }

            .back {
                font-size: 1.2rem;
                font-weight: $font-bold;
                text-transform: uppercase;
                color: $dark;
                letter-spacing: 2.18182px;
                margin-bottom: 4rem;
                display: flex;

                svg {
                    margin-right: 1rem;
                }
            }

            h1 {
                margin: 4rem 0;

                @media only screen and (max-width: $tablet-h) {
                    margin: 0 0 2rem;
                }
            }

            p {
                font-size: 1.6rem;
                font-family: $font-mono;
                letter-spacing: 0.173545px;
                line-height: 1.6;
                font-weight: 600;
                margin-bottom: 4rem;
            }

            .button {
                width: auto;
                margin-bottom: 2rem;
            }
        }

        .specs {
            margin-top: 4rem;

            .small-head {
                border-bottom: solid $dark .1rem;
                padding-bottom: 2rem;
            }

            .list {
                li {
                    border-bottom: solid $dark .1rem;
                    padding: 2rem 0;
                    display: flex;

                    justify-content: space-between;

                    span {
                        font-size: 1.6rem;
                        font-family: $font-mono;
                        font-weight: 600;

                        @media only screen and (max-width: $tablet-h) {
                            font-size: 1.2rem;
                        }

                        &:last-child {
                            text-align: end;
                            @media only screen and (max-width: $tablet-h) {
                                padding-left: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sales-items {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 1rem;

    .item {
        padding: 2rem;
        border-radius: 1rem;
        border: solid $dark .1rem;
        font-family: $font-mono;
        display: flex;
        flex-direction: column;

        span {
            font-size: clamp(1.6rem, 12vw, 2rem);
            font-weight: 600;
            letter-spacing: 0.36px;
            margin-bottom: 1rem;
        }

        small {
            font-size: clamp(1rem, 12vw, 1.2rem);
            font-weight: 600;
            letter-spacing: 0.36px;
        }

        .info {
            font-size: clamp(1.4rem, 12vw, 1.6rem);
            letter-spacing: 0.36px;
            margin: 4rem 0;

            a {
                color: $dark;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .pin {
            width: 6rem;
            height: 6rem;
            border-radius: 100%;
            background: #7EFF93;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}

.contact-content {
    background: #ECE0CD;
    padding: 20rem 5vw 5rem;
    height: calc(100vh - 2rem);
    border-radius: 1rem;

    @media only screen and (max-width: $desktop) {
        height: auto;
    }

    @media only screen and (max-width: $tablet-h) {
        padding: 10rem 2rem 2rem;
    }

    .head {
        span {
            font-family: $font-mono;
            font-size: clamp(1.6rem, 12vw, 2rem);
            letter-spacing: 0.206085px;
        }
    }

    .items {
        margin-top: 12rem;
        font-family: $font-mono;
        font-size: clamp(1.4rem, 12vw, 1.6rem);
        letter-spacing: 0.206085px;
        display: flex;

        @media only screen and (max-width: $tablet-v) {
            flex-direction: column;
            margin-top: 6rem;
        }

        .item {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media only screen and (max-width: $tablet-v) {
               width: 100%;
            }

            a {
                font-family: $font-maison;
                font-size: clamp(3rem, 12vw, 4rem);
                color: $dark;
                margin-top: 4rem;
                display: flex;

                @media only screen and (max-width: $desktop) {
                    font-size: clamp(2rem, 12vw, 2.8rem);
                }

                @media only screen and (max-width: $tablet-v) {
                    margin-bottom: 6rem;
                    font-size: clamp(1.6rem, 12vw, 1.8rem);
                 }
            }

            figure {
                border-radius: 1rem;
                overflow: hidden;
            }
        }
    }
}

.tab-menu {
    display: flex;
    margin-top: 6rem;

    li {
        margin: 0 .5rem;

        &.active,
        &:hover {
            @include fade-transition;

            a {
                border: solid $dark .1rem
            }
        }

        a {
            font-size: clamp(1.6rem, 12vw, 2rem);
            font-family: $font-mono;
            color: $dark;
            font-weight: 600;
            border: solid transparent .1rem;
            border-radius: 100vmax;
            display: flex;
            align-items: center;
            height: 5rem;
            padding: 0 3rem;
            @include fade-transition;
        }
    }
}

.history-content {
    width: 100%;
    background: #E2DDD1;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    padding: 10rem 6rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    @include fade-transition;

    @media only screen and (max-width: $desktop) {
        padding: 4rem;
    }

    @media only screen and (max-width: $desktop-sm) {
        padding: 4rem 1rem;
    }

    &.active {
        background: #ECE0CD;
        @include fade-transition;

        figure {
            background: #ECE0CD !important;
        }
    }

    .timeline-item {
        width: 100%;
        position: relative;
        display: flex;

        @media only screen and (max-width: $tablet-v) {
            flex-direction: column;
        }

        &:nth-child(even) {
            .content {
                flex-direction: row-reverse;

                @media only screen and (max-width: $desktop-sm) {
                    flex-direction: column-reverse;
                }
            }
        }

        .years-item {
            width: 30%;
            display: flex;
            justify-content: space-between;

            @media only screen and (max-width: $tablet-h) {
                width: 30%;
            }

            @media only screen and (max-width: $tablet-v) {
                width: 100%;
                flex-direction: row-reverse;
                justify-content: flex-end;
                align-items: center;
            }

            span {
                padding: 10rem 0;
                font-size: clamp(8rem, 12vw, 13rem);
                letter-spacing: 0.206085px;
                display: flex;
                align-items: center;

                @media only screen and (max-width: $tablet-v) {
                    padding: 0;
                }

                @media only screen and (max-width: $desktop-sm) {
                    font-size: clamp(6rem, 12vw, 8rem);
                }

                @media only screen and (max-width: $tablet-h) {
                    font-size: clamp(3rem, 12vw, 5rem);
                }

                @media only screen and (max-width: $tablet-v) {
                    font-size: clamp(3rem, 12vw, 3.6rem);
                }

                @media only screen and (max-width: $tablet-v) {
                   padding-left: 1rem;
                }
            }

            .icons {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: .1rem;
                    height: 100%;
                    background: $dark;
                    top: 0;
                    left: 49%;
                }

                figure {
                    height: auto;
                    background: #E2DDD1;
                    padding: 1rem 0;
                }
            }
        }

        .content {
            width: 70%;
            display: flex;
            padding: 10rem;

            @media only screen and (max-width: $desktop) {
                padding: 6rem 2rem 6rem 2rem;
            }

            @media only screen and (max-width: $desktop-sm) {
                padding: 6rem 0 6rem 2rem;
                flex-direction: column-reverse;
            }

            @media only screen and (max-width: $tablet-v) {
               padding: 0;
               width: 100%;
               margin-bottom: 6rem;
            }

            figure {
                width: auto;
                height: auto;

                @media only screen and (max-width: $desktop-sm) {
                    margin-bottom: 4rem;
                }

                img {
                    width: 40rem;

                    @media only screen and (max-width: $tablet-h) {
                        width: 100%;
                    }
                }
            }

            .caption {
                font-family: $font-mono;
                font-size: 1.6rem;
                line-height: 2.4rem;
                font-weight: 600;
                padding: 0 10rem;

                @media only screen and (max-width: $desktop) {
                    padding: 0 2rem 0;
                }

                @media only screen and (max-width: $desktop-sm) {
                    padding: 0;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

.news-room {
    padding: 1rem;
    gap: 4rem !important;

    figure {
        border-radius: 2rem;
        overflow: hidden;


        &.image-v {
            position: relative;
            min-height: 45vh;
        }

        &.image-h {
            position: relative;
            min-height: 30vh;
        }

        &:hover {
            img {
                transform: scale(1.2);
                @include fade-transition;
            }
        }

        img {
            @include fade-transition;
        }
    }

    .caption {
        padding: 3rem;
        border-top: solid $black .1rem;
        margin-top: 3rem;

        @media only screen and (max-width: $tablet-h) {
            padding: 3rem 1rem;
        }

        .date {
            font-size: 1.2rem;
            letter-spacing: 2.18182px;
            font-weight: bold;
            margin-bottom: 3rem;
            color: $dark;
        }

        p {
            max-width: 75%;
            font-size: clamp(2rem, 12vw, 3.4rem);
            letter-spacing: 0.303703px;
            text-transform: uppercase;
            color: $dark;

            @media only screen and (max-width: $desktop) {
                font-size: clamp(2rem, 12vw, 2.8rem);
            }

            @media only screen and (max-width: $desktop-sm) {
                font-size: clamp(2rem, 12vw, 2.2rem);
            }

            @media only screen and (max-width: $tablet-h) {
                max-width: 100%;
            }
        }
    }
}

.blog-detail-info {
    background: #ECE0CD;
    padding: 20rem 5vw 5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: $desktop) {
        height: auto;
    }

    @media only screen and (max-width: $tablet-h) {
        padding: 10rem 2rem 2rem;
    }

    .back {
        width: fit-content;
        display: flex;
        align-items: center;
        height: 4rem;
        font-size: 1.2rem;
        font-weight: $font-bold;
        text-transform: uppercase;
        color: $dark;
        letter-spacing: 2.18182px;
        margin-bottom: 4rem;
        display: flex;

        svg {
            margin-right: 1rem;
        }
    }

    h1 {
        max-width: 60%;
        line-height: 1;
        margin: 6rem 0;

        @media only screen and (max-width: $tablet-h) {
            max-width: 100%;
            margin: 0 0 4rem 0;
        }
    }

    p {
        max-width: 60%;
        font-size: 2.8rem;
        font-family: $font-mono;
        font-weight: 600;
        line-height: 1.6;
        text-indent: 8rem;

        @media only screen and (max-width: $desktop-sm) {
            max-width: 100%;
            font-size: 1.6rem;
            text-indent: 0;
        }
    }
}

.blog-content {
    margin-top: -1rem;
    position: relative;
    overflow: inherit;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: -26rem;
        left: 0;
        background: url(../../assets/images/home/company-info-bg.png) top left no-repeat;
        z-index: -1;
    }

    .items {
        display: flex;
        flex-direction: column;

        .item {
            display: flex;
            margin: 4rem 0;

            @media only screen and (max-width: $tablet-h) {
                flex-direction: column;
                margin: 4rem 0 0;
            }

            figure {
                width: 40% !important;
                height: 50rem;

                @media only screen and (max-width: $tablet-v) {
                    width: 100% !important;
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;

                @media only screen and (max-width: $tablet-h) {
                    flex-direction: column;
                 }

                article {
                    padding-left: 0;
                }
            }
        }
    }

    .image-parallax {
        img {
            @media only screen and (max-width: $tablet-h) {
                height: auto;
             }
        }
    }

    .blog-info {
        width: 100%;
        margin: auto;
        padding: 4rem 10vw;
        justify-content: space-between;
        display: flex;
        border-bottom: solid $dark .1rem;

        @media only screen and (max-width: $tablet-h) {
            padding: 4rem 1rem;
         }

         @media only screen and (max-width: $tablet-v) {
            flex-direction: column;
  
          }

        .item {
            display: flex;

            @media only screen and (max-width: $tablet-v) {
                margin-bottom: 2rem;
                justify-content: space-between;
              }

            span {
                font-family: $font-mono;
                font-size: 1.6rem;
                line-height: 2;
                font-weight: 600;
                margin-right: 10rem;

                @media only screen and (max-width: $tablet-h) {
                   font-size: 1.4rem;
                   margin-right: 6rem;
                 }

                 @media only screen and (max-width: $tablet-v) {
                    margin: 0;
                  }
            }
        }

        .share {
            display: flex;
            align-items: center;

            span {
                font-size: 2.2rem;
                font-weight: $font-medium;
                margin-right: 5rem;

                @media only screen and (max-width: $tablet-h) {
                    font-size: 1.8rem;
                    margin-right: 4rem;
                  }
            }

            i {
                width: 5rem;
                height: 5rem;
                background: #474747;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;
                margin-bottom: 0;

                svg {
                    fill: #A5C9D0;
                }
            }
        }
    }

    h3 {
        width: 100%;
        text-align: center;
        font-weight: $font-normal;
        padding-bottom: 8rem;

        @media only screen and (max-width: $tablet-h) {
           margin-bottom: 0;
           padding: 0;
        }
    }

    i {
        img {
            width: 4rem;

            @media only screen and (max-width: $desktop) {
                width: 3rem;
            }

            @media only screen and (max-width: $tablet-v) {
                width: 2rem;
            }
        }
    }

    .content {
        padding: 10rem 15vw;

        @media only screen and (max-width: $desktop) {
            padding: 5vw;
        }

        @media only screen and (max-width: $desktop-sm) {
            padding: 4rem 2rem;
        }

        @media only screen and (max-width: $tablet-h) {
            padding: 4rem 1rem;
        }

        .caption {
            display: flex;

            @media only screen and (max-width: $tablet-h) {
                flex-direction: column;
            }

            figure {
                width: 50%;
                border-radius: 2rem;
                overflow: hidden;

                @media only screen and (max-width: $tablet-h) {
                    width: 100%;
                }
            }

            article {
                width: 50%;
                display: flex;
                flex-direction: column;
                padding-left: 8rem;

                @media only screen and (max-width: $tablet-h) {
                    width: 100%;
                    padding: 2rem 0;
                 }

                 i {
                    margin-bottom: 2rem;
                 }
            }

            span {
                max-width: 60%;
                font-size: clamp(2.6rem, 12vw, 3rem);
                display: flex;
                margin-top: 2rem;

                @media only screen and (max-width: $desktop-sm) {
                    max-width: 100%;
                    font-size: clamp(1.8rem, 12vw, 2.6rem);
                }

                @media only screen and (max-width: $tablet-v) {
                    font-size: clamp(1.8rem, 12vw, 2.2rem);
                }

                &.center {
                    text-align: center;
                }
            }
        }

        h2 {
            @media only screen and (max-width: $tablet-h) {
                text-align: center;
            }
        }

        p {
            width: 70%;
            font-family: $font-mono;
            font-size: 2rem;
            font-weight: 600;
            line-height: 2;
            margin-bottom: 6rem;

            @media only screen and (max-width: $desktop) {
                font-size: 1.6rem;
                line-height: 1.6;
            }

            @media only screen and (max-width: $tablet-h) {
                width: 100%;
            }

            a {
                color: #2E8C54;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        span {
            font-size: clamp(2.6rem, 12vw, 3rem);
            display: flex;

            @media only screen and (max-width: $desktop) {
                font-size: clamp(1.8rem, 12vw, 2.4rem);
            }

            &.center {
                text-align: center;
            }
        }

        h4 {
            font-size: clamp(2rem, 12vw, 3rem);
            letter-spacing: 0.6291px;
        }

        .article {
            margin-top: 6rem;
            position: relative;
            z-index: 1;

            @media only screen and (max-width: $tablet-h) {
                margin-top: 0;
            }

            h2 {
                &:before {
                    content: '';
                    position: absolute;
                    width: 50%;
                    height: 30%;
                    top: 0;
                    left: -20%;
                    background: #F9F8F6;
                    border-radius: 2rem;
                    z-index: -1;
                }
            }

            i {
                width: fit-content;
                margin: auto;
                display: flex;
            }

            h2 {
                margin: 4rem 0;
            }

            p {
                margin-top: 6rem;
                width: 100%;
            }
        }
    }
}

.bottom-content {
    display: flex;
    flex-direction: column;

    &.blog {
        border-top: solid $dark .1rem;
    }

    .bottom-items {
        width: 100%;
        display: flex;
        padding-top: 6rem;
        flex-direction: row;

        .item {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding-bottom: 10rem;

            &:first-child {
                border-right: solid $dark .1rem;
                padding: 0 10rem 10rem 0;

                @media only screen and (max-width: $tablet-h) {
                    padding: 0 4rem 4rem 0;
                }

                @media only screen and (max-width: $tablet-v) {
                    padding: 0 4rem 2rem 0;
                }
            }

            &:last-child {
                padding: 0 0 10rem 10rem;

                @media only screen and (max-width: $tablet-h) {
                    padding: 0 0 4rem 4rem;
                }

                @media only screen and (max-width: $tablet-v) {
                    padding: 0 0 2rem 4rem;
                }
            }

            span {
                font-size: 2.8rem;
                margin-bottom: 6rem;
                font-weight: $font-medium;

                @media only screen and (max-width: $tablet-h) {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
            }

            .button {
                width: 100%;
            }
        }
    }
}

.faq {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vw auto;

    @media only screen and (max-width: $tablet-h) {
        max-width: 100%;
        margin: 0;
        padding: 0 1rem 4rem;
    }

    small {
        @media only screen and (max-width: $tablet-v) {
            margin: 0;
        }
    }

    h6 {
        @media only screen and (max-width: $tablet-v) {
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
    }


    .link {
        background: #e2ecea;
        border: solid #1E1C21 .1rem;
        margin-bottom: 1rem;
        overflow: hidden;
        width: 100%;
        height: 10.6rem;
        display: flex;
        align-items: center;
        padding-left: 4rem;
        letter-spacing: -1.2375px;
        font-size: 2.2rem;
        font-weight: $font-medium;
        color: $dark;
        @include fade-transition;

        @media only screen and (max-width: $tablet-v) {
            padding-left: 2rem;
            font-size: 1.6rem;
        }

        svg {
            margin-left: 3rem;
            @include fade-transition;

        }

        &:hover {


            svg {
                margin-left: 4rem;
                @include fade-transition;
            }
        }
    }


    .accordion-menu {
        width: 100%;

        li {
            background: #F8F4ED;
            ;
            border: solid #1E1C21 .1rem;
            margin-bottom: 1rem;
            overflow: hidden;
            border-radius: 1rem;
            font-family: $font-mono;

            &.open {

                .dropdownlink {
                    i {
                        .icon-open {
                            display: none;
                        }

                        .icon-close {
                            display: flex;
                        }
                    }
                }
            }
        }

        .dropdownlink {
            cursor: pointer;
            display: flex;
            font-size: clamp(1.8rem, 6vw, 2rem);
            color: $dark;
            position: relative;
            transition: all 0.4s ease-out;
            min-height: 9rem;
            align-items: center;
            padding: 4rem 6rem 4rem 4rem;

            @media only screen and (max-width: $tablet-h) {
                padding: 2rem 6rem 2rem 2rem;
                font-size: clamp(1.4rem, 6vw, 1.5rem);
            }

            i {
                position: absolute;
                height: 100%;
                display: flex;
                align-items: center;
                right: 4rem;
                font-size: 1.8rem;

                @media only screen and (max-width: $tablet-v) {
                    right: 1rem;
                }

                svg {
                    @media only screen and (max-width: $tablet-h) {
                        width: 3.2rem;
                        height: 3.2rem;
                    }
                }

                .icon-open {
                    display: flex;
                }

                .icon-close {
                    display: none;
                }
            }
        }

        .ion-ios-arrow-down {
            right: 2rem;
            left: auto;
        }

    }

    .submenuItems {
        display: none;

        li {
            padding: 1rem 4rem 4rem;
            position: relative;
            border: none;
            margin: 0;

            @media only screen and (max-width: $tablet-h) {
                padding: 1rem 2rem 2rem;
            }
        }

        p {
            font-size: clamp(1.4rem, 6vw, 1.8rem);
            color: $dark;
            font-weight: $font-normal;
            line-height: 2.2rem;
            margin-right: 1.4rem;

            @media only screen and (max-width: $tablet-h) {
                font-size: clamp(1.3rem, 6vw, 1.4rem);
            }

            strong {
                font-weight: $font-medium;
            }
        }
    }

}

.search-result-head {
    background: #D5E8EC;
    padding: 20rem 5vw 10rem;
    height: 50vh;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
}

.search-result {
    padding: 6rem 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: -5rem;
        left: 0;
        background: url(../../assets/images/home/company-info-bg.png) top left no-repeat;
        z-index: -1;
    }

    .content {
        max-width: 60%;
        width: 100%;
        margin: auto;
        position: relative;

        @media only screen and (max-width: $tablet-h) {
            max-width: 100%;
            padding: 0 1rem 4rem;
        }

        li {
            background: $white;
            border-radius: 1rem;
            border: solid $dark .1rem;
            margin-bottom: 1rem;

            a {
                display: flex;
                justify-content: space-between;
                padding: 4rem 2rem;

                &:hover {
                    svg {
                        circle {
                            fill: $dark;
                        }

                        path {
                            fill: $white;
                        }
                    }
                }

                .caption {
                    font-family: $font-mono;
                    display: flex;
                    flex-direction: column;

                    span {
                        font-size: 2rem;
                        font-weight: 600;
                        margin-bottom: 2rem;
                        color: $dark;

                        @media only screen and (max-width: $tablet-h) {
                            font-size: 1.6rem;
                        }
                    }

                    small {
                        font-size: 1.2rem;
                        color: $dark;
                    }
                }

                svg {
                    @media only screen and (max-width: $tablet-h) {
                        width: 3.6rem;
                        height: 3.6rem;
                    }
                    circle {
                        @include fade-transition;
                        fill: #7EFF93;
                    }

                    path {
                        @include fade-transition;
                        fill: $black;
                    }
                }
            }
        }
    }
}


.page-error {
    background: #ECE0CD;
    padding: 20rem 5vw 20rem;
    border-radius: 1rem;

    @media only screen and (max-width: $tablet-h) {
        padding: 10rem 5vw 4rem;
        border-radius: 1rem;
        height: 50vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .back {
        width: fit-content;
        display: flex;
        align-items: center;
        height: 4rem;
        font-size: 1.2rem;
        font-weight: $font-bold;
        text-transform: uppercase;
        color: $dark;
        letter-spacing: 2.18182px;
        margin-bottom: 4rem;
        display: flex;

        @media only screen and (max-width: $tablet-h) {
            margin-bottom: 0;
        }

        svg {
            margin-right: 1rem;
        }
    }

    h1 {
        font-size: clamp(7rem, 12vw, 14rem);
        max-width: 60%;
        line-height: 1;
        margin: 6rem 0;

        @media only screen and (max-width: $tablet-h) {
            margin: 2rem 0;
        }
    }

    p {
        max-width: 60%;
        font-size: 2.8rem;
        font-family: $font-mono;
        font-weight: 600;
        line-height: 1.6;

        @media only screen and (max-width: $tablet-h) {
            max-width: 100%;
            font-size: 1.5rem;
        }
    }
}

.table {
    width: 100%;
    padding: 0;
    margin-bottom: 6rem;
    font-family: $font-mono;


    th {
        font-size: 1.4rem;
        padding: 1rem;
    }

    tbody {
        tr {
            margin-bottom: 1rem;
            width: 100%;
            background-color: #FAFAFA;
        }

        td {
            font-size: 1.4rem;
            font-weight: 500;
            padding: 1rem;
            line-height: 2;
            max-width: 70rem;

            @media only screen and (max-width: $tablet-v) {
                font-size: clamp(1.2rem, 12vw, 1.3rem);
                padding: 1rem;
            }

            //   @media only screen and (max-width: $phone) {
            //     max-width: 6rem;

            //   }

            strong {
                @media only screen and (max-width: $phone) {
                    overflow-wrap: anywhere;
                }
            }
        }
    }


}