$desktop: 1920px;
$desktop-sm: 1370px;
$tablet-h: 1024px;
$tablet-v: 768px;
$phone: 648px;

//Grid System
$gap: 1rem;


section {
  width: 100%;
  position: relative;
  overflow: hidden;

  &.light {
    background: $white;

    .small-head {
      color: $black;
    }

    .content-head {

      .text-large,
      .text-small {
        span {
          color: $black;
        }
      }

      p {
        color: $black;
      }
    }

    .card-caption {

      .items {

        .item {
          span {
            color: $black;
          }

          ul {

            li {
              border-bottom: solid $black .1rem;
            }
          }
        }
      }

      p {
        font-size: clamp(1.8rem, 12vw, 2.2rem);
        color: $black;
      }
    }

    .text-card {

      .caption {

        span {
          color: $black;
        }

        p {
          color: $black;
        }
      }
    }
  }

  &.content {
    padding: 1rem;

    @media only screen and (max-width: $tablet-v) {
      padding: .5rem;
    }
  }
}

[class*="col-"] {
  display: grid;
  gap: $gap;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $gap;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;

  @media only screen and (max-width: $tablet-h) {
    grid-column: span 6;
  }

  @media only screen and (max-width: $tablet-v) {
    grid-column: span 12;
  }
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;

  @media only screen and (max-width: $tablet-h) {
    grid-column: span 12;
  }
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 9;
}

.col-12 {
  grid-column: span 12;
}