$desktop: 1920px;
$desktop-sm: 1370px;
$tablet-h: 1024px;
$tablet-v: 768px;
$phone: 648px;

//Grid System
$gap: 1rem;


section {
  width: 100%;
  position: relative;
  overflow: hidden;

  &.light {
    background: $white;

    .small-head {
      color: $black;
    }

    .content-head {

      .text-large,
      .text-small,
      .text-xsmall {
        span {
          color: $black;
        }
      }

      p {
        color: $black;
      }
    }

    .card-caption {

      .items {

        .item {
          span {
            color: $black;
          }

          ul {

            li {
              border-bottom: solid $black .1rem;
            }
          }
        }
      }

      p {
        font-size: clamp(1.8rem, 12vw, 2rem);
        color: $black;
      }
    }

    .text-card {

      .caption {

        span {
          color: $black;
        }

        p {
          color: $black;
        }
      }
    }

    h1 {
      color: $black;
    }

    form {

      label {
        color: $dark;
      }

      input,
      textarea {
        color: $black;
        border: solid $black .1rem;

        &:focus {
          //    background: $white;
          //     border: solid $white .1rem;
        }

        &::-webkit-input-placeholder {
          /* Edge */
          color: $black;
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: $black;
        }

        &::placeholder {
          color: $black;
        }
      }
    }

    .checkbox {
      display: flex;
      flex-grow: 1;
      align-content: center;
      align-items: center;
      height: 4rem;
      max-width: 60%;

      @media only screen and (max-width: $tablet-h) {
        height: auto;
        padding-bottom: 2rem;
      }

      @media only screen and (max-width: $tablet-v) {
        max-width: 100%;
      }

      .link {
        text-align: left;
        font-size: 1.5rem;

        a {
          color: $dark;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      input {

        &:checked {
          + :after {
            content: '';
            background: url(../images/main/check.svg) no-repeat center center;
            background-size: 2rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 2.8rem;
            height: 100%;
            text-align: center;
          }

          + :before {
            border: solid $black .1rem;
          }

          +label {
            color: $black;
          }
        }
      }

      label {
        color: $black;

        span {
          color: $black;
        }

        a {
          color: $black;

          &:hover {
            color: $black;
          }
        }

        &:before {
          border: solid $black .1rem;
        }
      }
    }

    .faq {
      padding: 0 2rem;

      small {
          color: $black;
      }
  
      h6 {
          color: $black;
      }

      .link {
          color: $dark;
          @include fade-transition;

          svg {
              margin-left: 3rem;
              @include fade-transition;
              fill: $black;
  
          }
      }

      rect {
        fill: $black;
      }
  
      .faq-content {
          width: 100%;
      }
  
      .accordion-menu {
          width: 100%;
      
          li {
              border: solid $black .1rem;
              li {
                border: none;
              }
          }
      
          .dropdownlink {
              color: $black;
              padding: 4rem 8rem 4rem 4rem;

              @media only screen and (max-width: $tablet-h) {
                padding: 4rem 4rem 4rem 2rem;
            }
          }
      }
      
      .submenuItems {
          display: none;
      
          p {
              color: $black;
          }
      }
  }
  }

  &.content {
    padding: 1rem;

    @media only screen and (max-width: $tablet-v) {
      padding: .5rem;
    }
  }
}

[class*="col-"] {
  display: grid;
  gap: $gap;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $gap;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;

  @media only screen and (max-width: $desktop) {
    grid-column: span 4;
  }

  @media only screen and (max-width: $tablet-h) {
    grid-column: span 6;
  }

  @media only screen and (max-width: $phone) {
    grid-column: span 12;
  }
}

.col-4 {
  grid-column: span 4;

  @media only screen and (max-width: $tablet-h) {
    grid-column: span 6;
  }

  @media only screen and (max-width: $tablet-v) {
    grid-column: span 12;
  }
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;

  @media only screen and (max-width: $tablet-h) {
    grid-column: span 12;
  }
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 9;
}

.col-12 {
  grid-column: span 12;
}