
@import "../base/_base";

/*#region Fonts */
$font-maison: 'Maison Neue', sans-serif;
$font-mono: 'Maison Neue Mono', sans-serif;
$font-bold-italic: italic;
$font-normal: normal;
$font-medium: 500;
$font-bold: bold;

/*#region Device Resolution */
$desktop: 1920px;
$desktop-sm: 1368px;
$tablet-h: 1024px;
$tablet-v: 768px;
$phone: 648px;

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-medium;
}

.small-head {
    font-size: 1.6rem;
    font-weight: $font-medium;
    white-space: nowrap;
    color: $white;
    margin-bottom: 4rem;
}

h1 {
    font-size: clamp(4rem, 12vw, 5.4rem);
    letter-spacing: 0.6291px;
    font-weight: $font-bold;
    line-height: 1;
    color: $white;
}

h2 {
    font-size: clamp(3rem, 12vw, 4rem);
    letter-spacing: 0.6291px;
    font-weight: $font-medium;
    line-height: 1;
    color: $white;
}

h3 {
    font-size: clamp(4rem, 12vw, 5.8rem);
    letter-spacing: 0.6291px;
    font-weight: $font-medium;

    @media only screen and (max-width: $tablet-h) {
        font-size: clamp(3rem, 12vw, 3.6rem);
      }
}

h4 {
    font-size: clamp(4rem, 12vw, 5.8rem);
    letter-spacing: 0.6291px;


    @media only screen and (max-width: $tablet-h) {
        font-size: clamp(3.4rem, 12vw, 4rem);
     }

     
     @media only screen and (max-width: $tablet-v) {
        font-size: clamp(2.4rem, 12vw, 3rem);
      }
}


